
<div class="row">
    <h1><u>Proyectos Realizados</u></h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Portfolio Web (Trabajo final para Argentina Programa)</h1>
            
            <p>
               
                En este proyecto se me encomendó realizar una aplicación web referida a mi portfolio donde se puso en práctica la arquitectura Cliente-Servidor, para poder realizarla se utilizaron los leguajes html, css y java como lenguajes bases de Programación, utilice Angular como framework para desarrollar la aplicación web desarrollada en TypeScript implementando los lenguajes html y css para el desarrollo de la vista y estilo (Frontend) y a su vez también utilice NetBeans que es un entorno de desarrollo integrado libre, hecho principalmente para el lenguaje de programación Java, en el cual realice la base de datos con la intervencion del programa MySQL Workbench (Backend). Además, Utilizando otras herramientas para todo tipo de pruebas (Xampp, Postman).
               <br rgba = "auto"> <br>
               Fecha de inicio del proytecto 01/02/2022
               <br rgba = "auto"> <br>
               Fecha de Finalizacion del proyecto 31/10/2022.
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <a href="https://frontendalf.web.app">
            <img src="../../../assets/Portfolio web imagen.png" class="img-fluid img-proyecto" >
            </a>    
        </div>
    </div>

</div>
