<div class="row">
    <h1><u>Hard & Soft Skills</u></h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> <circle-progress
        [percent]="95"
        [radius]="100"
        [imageSrc]="'../assets/html.png'"
        [imageHeight]="100"
        [imageWidth]="100"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#f09712'"
        [innerStrokeColor]="'#12cff0'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../assets/CSS.png'"
        [imageHeight]="100"
        [imageWidth]="100"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#2112f0'"
        [innerStrokeColor]="'#12cff0'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> <circle-progress
        [percent]="75"
        [radius]="100"
        [imageSrc]="'../assets/js.png'"
        [imageHeight]="100"
        [imageWidth]="100"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#f0ec12'"
        [innerStrokeColor]="'#12cff0'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> <circle-progress
      [percent]="90"
      [radius]="100"
      [imageSrc]="'../assets/angular.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [showImage]="true"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#f01912'"
      [innerStrokeColor]="'#12cff0'"
      [animation]="true"
      [animationDuration]="1000"
    ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> <circle-progress
      [percent]="90"
      [radius]="100"
      [imageSrc]="'../assets/mysql.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [showImage]="true"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#027adb'"
      [innerStrokeColor]="'#12cff0'"
      [animation]="true"
      [animationDuration]="1000"
      ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> <circle-progress
      [percent]="80"
      [radius]="100"
      [imageSrc]="'../assets/netbeans.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [showImage]="true"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#9cabb8'"
      [innerStrokeColor]="'#12cff0'"
      [animation]="true"
      [animationDuration]="1000"
      ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../assets/git.png'"
        [imageHeight]="100"
        [imageWidth]="100"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#9cabb8'"
        [innerStrokeColor]="'#12cff0'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/eng.png'"
        [imageHeight]="100"
        [imageWidth]="100"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#07090a'"
        [innerStrokeColor]="'#12cff0'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> <circle-progress
        [percent]="100"
        [radius]="100"
        [imageSrc]="'../assets/grupal.png'"
        [imageHeight]="100"
        [imageWidth]="100"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#f5f8fa'"
        [innerStrokeColor]="'#12cff0'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress> 
    </div>
    
   
</div>