<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.linkedin.com/in/lucas-ar%C3%A9valo-649229230/"><img src="../../../assets/linkedin.png" alt="LinkedIn"></a>
                <a href="https://twitter.com/lucasarevalo23"><img src="../../../assets/twitter.png" alt="Twitter"></a>
                <a href="https://www.instagram.com/lucas_arevalo.20/"><img src="../../../assets/instagram.png" alt="instagram"></a>
                <a href="https://www.facebook.com/profile.php?id=100008286103558"><img src="../../../assets/facebook.png" alt="facebook"></a>
                <a href="https://github.com/LucasArevalo"><img src="../../../assets/github.png" alt="Github"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogout()" *ngIf="isLogged">CERRAR SESION</button>
            </div>
        </div>
    </div>
</div>

